.filter-bar-item {
  padding-inline: calc(var(--spacing) * 4);
  padding-block: calc(var(--spacing) * 1);
  margin-right: calc(var(--spacing) * 2);
  cursor: pointer;
  border-radius: var(--radius-xl);
  white-space: nowrap;
  background-color: unset;
  color: var(--color-gray-700);

  &.active {
    background-color: var(--color-gray-100);
  }
}

.delete-button {
  opacity: 80%;
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
  background-color: var(--color-red-500);
  color: var(--color-white);
  border-radius: calc(infinity * 1px);
  cursor: pointer;

  &:hover {
    background-color: var(--color-red-600);
  }
}

.badge {
  border-radius: calc(infinity * 1px);
  padding-inline: calc(var(--spacing) * 2);
  padding-block: calc(var(--spacing) * 0.5);
  color: var(--color-white);
  border-color: transparent;

  &.clean {
    background-color: var(--primary-color);
  }

  &.dirty {
    background-color: #374151;
  }
}
