.favourite-button {
  opacity: 80%;
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
  background-color: var(--primary-color);
  color: var(--color-white);
  border-radius: calc(infinity * 1px);
  cursor: pointer;

  &:hover {
    background-color: var(--color-gray-500);
  }
}
