.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-700);
  border-radius: var(--radius-lg);
  padding-inline: calc(var(--spacing) * 6);
  padding-block: calc(var(--spacing) * 2);

  &.active {
    color: var(--primary-color);
  }
}
