:root {
  /* Primary colors */
  --primary-color: #65aaa7;
  --primary-disabled-bg-color: #d1d5dc;

  /* Secondary colors */
  --secondary-color: #ffffff;
  --secondary-border-color: #e3ebec;
}

.bg-app {
  background:
    radial-gradient(ellipse at 30% 20%, #efe6ff 0%, transparent 50%),
    radial-gradient(ellipse at 70% 50%, #bae5ea 0%, transparent 50%),
    radial-gradient(ellipse at 50% 90%, #e8f8f7 0%, transparent 50%),
    linear-gradient(135deg, #efe6ff 0%, #e8f8f7 100%);
}

.page-title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  padding: calc(var(--spacing) * 2);
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--color-white);
  border-color: var(--color-gray-200);
  border-radius: calc(infinity * 1px);
  cursor: pointer;

  &:hover {
    opacity: 90%;
  }

  &:disabled {
    background-color: var(--primary-disabled-bg-color);
    border-color: var(--color-gray-300);
    cursor: not-allowed;
  }
}

.secondary-button {
  border-radius: var(--radius-xl);
  background-color: var(--secondary-color);
  color: var(--color-black);
  padding-inline: calc(var(--spacing) * 4);
  padding-block: calc(var(--spacing) * 2);
  cursor: pointer;

  &:hover {
    opacity: 80%;
  }
}

.card {
  background: var(--secondary-color);
  color: var(--color-gray-600);
  border: 1px solid var(--secondary-border-color);
  border-radius: var(--radius-2xl);
  padding: calc(var(--spacing) * 3);
  text-align: center;
}
