:root {
  /* Primary colors */
  --primary-color: #65aaa7;
  --primary-disabled-bg-color: #d1d5dc;

  /* Secondary colors */
  --secondary-color: #ffffff;
  --secondary-border-color: #e3ebec;
}

.bg-app {
  background:
    radial-gradient(ellipse at 30% 20%, #efe6ff 0%, transparent 50%),
    radial-gradient(ellipse at 70% 50%, #bae5ea 0%, transparent 50%),
    radial-gradient(ellipse at 50% 90%, #e8f8f7 0%, transparent 50%),
    linear-gradient(135deg, #efe6ff 0%, #e8f8f7 100%);
}

.page-title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  padding: calc(var(--spacing) * 2);
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--color-white);
  border-color: var(--color-gray-200);
  border-radius: calc(infinity * 1px);
  cursor: pointer;

  &:hover {
    opacity: 80%;
  }

  &:disabled {
    border-color: var(--color-gray-200);
    opacity: 50%;
    cursor: not-allowed;
  }
}

.secondary-button {
  border: 1px solid var(--color-gray-200);
  border-radius: calc(infinity * 1px);
  background-color: var(--secondary-color);
  color: var(--color-black);
  padding-inline: calc(var(--spacing) * 4);
  padding-block: calc(var(--spacing) * 2);
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 50%;
  }

  &:hover:not(:disabled) {
    opacity: 80%;
  }
}

.input {
  border-radius: var(--radius-lg);
  border-color: var(--color-gray-200);
  padding-inline: calc(var(--spacing) * 3);
  padding-block: calc(var(--spacing) * 2);

  &::placeholder {
    color: var(--color-gray-400);
  }
}

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat calc(100% - 0.75rem) center;
  padding-right: 2rem;

  &.placeholder {
    color: var(--color-gray-400);
  }
}

.card {
  background: var(--secondary-color);
  color: var(--color-gray-600);
  border: 1px solid var(--secondary-border-color);
  border-radius: var(--radius-2xl);
  padding: calc(var(--spacing) * 3);
  text-align: center;
}
